body{/*body style*/
    background-color: #3B38A0;
    color: #949ccc;
    font: 20px Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.container{/*container style*/
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main-header{/*main-header style*/
    background-color: #7A85C1;
    color: #fff;
    width: 100% ;
  
   
    
 }
 .logo{/*logo style*/
     float: left;
     color:#B2B0E8 ;
     text-align: center;
    
     
 }
 #navbar{/*nav style*/
    margin-top: 10px ;
     float: right;
     
 }
 #navbar ul{/*nav ul style*/
    padding: 0;
    list-style: none;
}
#navbar li{/*nav li style*/
    display: inline;
    padding: 15px 10px;
    cursor: pointer;
}
#navbar a{/*nav a style*/
    color: #B2B0E8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 10px;
    cursor: pointer;
}
#navbar a:hover{/*nav a hover style*/
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    opacity: 0.2;
}
#hero{/*hero style*/
    background:url(./image/image3.jpg);
   min-height:400px;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    text-align: center;
}  
#hero h2{/*hero h2 style*/
    padding-top: 50px;
    font-size: 40px;
    line-height: 1.2em;
    color: #fff;

}
#hero p{/*hero p style*/
    font-size: 20px;
    color: #6b66f4;
}
#main-section{/*main section style*/
    float: left;
    width:70%;
    padding:0 30px;
    box-sizing: border-box;
}
#sidebar{/*sidebar style*/
 float: right;
 width: 30%;
 box-sizing: border-box;
 padding: 20px 30px;
 background-color: #333;
 opacity: 0.25;
 text-align: center;
}
#ftr{/*footer style*/
    background-color:#1A2A80 ;
    color: #B2B0E8;
    padding: 20px;
    text-align: center;
    margin-top: 110px;

}

/* Responsive */
/*media query*/
@media(max-width:865px){
    
   #main-section, #sidebar{/*main section and sidebar style*/
       float: none;
       width: 100%;
   }
   

}
@media(max-width:500px){
    #hero h2{/*hero h2 style*/
        font-size: 30px;
    }
    #hero p{/*hero p style*/
        font-size: 18px;
    }
    body{/*body style*/
        font-size: 18px;
    }
}
@media(max-width:765px){
    .logo, #navbar{/*logo and nav style*/
        float: none;
        text-align: center;
    }
    #navbar li{/*nav li style*/
        padding: 10px;
        display: block;
    }
     #navbar ul{/*nav ul style*/
         text-align: center;
    }
   
}